<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ll.exam.board3.article.mapper.ArticleMapper">

    <select id="articleCount" resultType="int">
        SELECT count(Id) AS cbt FROM article;
    </select>

    <select id="findAll" resultType="com.ll.exam.board3.article.entity.Article">
        SELECT
        *
        FROM article;
    </select>

    <select id ="findById" parameterType="Long" resultType="com.ll.exam.board3.article.entity.Article">
        SELECT * FROM article WHERE id=#{id};
    </select>

    <insert id ="save" parameterType="com.ll.exam.board3.article.entity.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (subject, content) VALUES (#{subject}, #{content});
    </insert>

    <update id ="update" parameterType="com.ll.exam.board3.article.entity.Article">
        UPDATE article
        SET subject = #{subject}, content = #{content}
        WHERE id = #{id};
    </update>

    <delete id ="delete" parameterType="Long">
        DELETE
        FROM article
        WHERE id = #{id};
    </delete>
</mapper>